﻿.sidenav {
    background-color: #263238;
    transition: all .5s ease;
    width: 230px;
    height: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: 0.063rem 0.125rem 0 #8690a3;
}

.logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;
}

.logo {
    background-color: #fff;
    text-align: center;
    width: 3rem;
    min-width: 3rem;
    border-radius: 0.313rem;
    padding: 0.313rem;
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
    border: none;
}

.logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-left: 1rem;
}

.btn-close {
    margin-left: auto;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    outline: none;
}

    .btn-close:focus {
        outline: none;
    }

/*//scrollbar and visibility on hover and focus*/
.scrollwrap {
    overflow-y: auto;
    visibility: hidden;
    height: calc(100% - 3.65rem);
}

    .sidenav-nav,
    .scrollwrap:hover,
    .scrollwrap:focus {
        visibility: visible;
    }

.scrollwrap_delayed {
    transition: visibility 0.5s 0.2s;
}

    .scrollwrap_delayed:hover {
        transition: visibility 0.2s 0.2s;
    }

/*// works on chrome, edge and safari*/
.scrollwrap::-webkit-scrollbar {
    width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
    background-color: #556268;
    border-radius: 20px;
}
/*// work on firefox*/
.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;
}

.sidenav-nav-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
}

.sidenav-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
    color: #f3f3f3;
}

.sidenav-link-text {
    margin-left: 1.5rem;
    color: #f3f3f3;
    font-size: 22px;
    font-weight: 100;
}

.sidenav-nav-link:hover, .sidenav-nav-link:active {
    background-color: #fff;
    text-decoration: none;
}

    .sidenav-nav-link:hover .sidenav-link-text {
        color: black;
    }

    .sidenav-nav-link:hover .sidenav-link-icon {
        color: black;
    }

.sidenav-collapsed {
    width: 85px !important;
    max-width: 85px !important;
    transition: all .5s ease;
    flex: 0 0 85px !important;
}

.hidden {
    visibility: hidden;
}

.rotate {
    animation: rotate .5s ease;
}

.rotate-callapsed {
    visibility: hidden;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(4turn);
    }
}

.sidenav-main {
    transition: all .9s ease;
    z-index: 0;
}

.sidenav-nav-collapsed {
    width: calc(100% - 85px) !important;
    max-width: calc(100% - 85px) !important;
    flex: 0 0 calc(100% - 85px) !important;
    margin-left: 85px;
}

.sidenav-content {
    width: calc(100% - 230px) !important;
    max-width: calc(100% - 230px) !important;
    flex: 0 0 calc(100% - 230px) !important;
    margin-left: 230px;
}

/*.container-fluid {
    overflow-x: hidden;
}*/

.head {
    width: 100% !important;
    z-index: 1;
    transition: all .5s ease;
    background-color: #f4f7fa;
    padding: 1rem 1.5rem 0 1.5rem;
    position: fixed;
    top: 0;
}

.head-content {
    width: calc(100% - 230px) !important;
    background-color: #fff;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 10px 0 rgb(34 41 47 / 10%);
    padding: 0.813rem 1.563rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 calc(100% - 230px) !important;
}

.search-container {
    position: relative;
}

.normal-search .search {
    border: none;
    height: 2.375rem;
    padding-left: 2.5rem;
    padding-right: 1.25rem;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 1.875rem;
    outline: 0;
}

.normal-search .search-icon {
    position: absolute;
    font-size: 1rem;
    line-height: 2.375rem;
    left: 0.813rem;
    top: 0;
    color: #74788d;
}

.head-content-right {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
}

.head-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1.25rem;
}

.head-menu-item-btn {
    font-size: 18px;
    height: 42px;
    width: 42px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: -140px;
    outline: 0;
    color: #495057;
}

.head-user-avatar-container {
    margin-left: 20px;
}

.head-user-avatar {
    position: relative;
}

.user-avatar {
    margin-bottom: -4px;
    width: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(35 35 35 / 15%);
    cursor: pointer;
}

.circle-indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -3px;
    background-color: #699dfa;
}

.pulse {
    animation: pulse-animation 1.2s infinite;
}

.ripple {
    background-position: center;
    background-color: #fff;
    transition: background 0.8s;
}

    .ripple:hover,
    .ripple:focus {
        background: #eff2f3 radial-gradient(circle, transparent 1%, #eff2f3 1%) center/15000%;
        outline: none;
    }

    .ripple:active {
        background-color: #bec2c4;
        background-size: 100%;
        transition: background 0s;
    }

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(26, 104, 206, 0.6);
    }

    100% {
        box-shadow: 0 0 0 13px rgba(17, 64, 106, 0);
    }
}

.content-main {
    background-color: #f4f7fa;
    position: relative;
    z-index: 0;
    top: 0;
    margin-top: 5.5rem;
    transition: all 0.5s ease;
    /*padding: 3rem;*/
}

body {
    background-color: #f4f7fa;
}

.head-content-collapsed {
    width: calc(100% - 85px) !important;
    flex: 0 0 calc(100% - 85px) !important;
}

h2 {
    color: #495057;
}

.content {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.5rem 0;
    box-shadow: 0 0.25rem 0.5rem #e6edef;
    color: #495057;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.btn-padding-unset {
    padding: unset !important;
}

.btn-padding-unset:focus {
    outline: unset !important;
    box-shadow: unset !important;
}

.sidenav-nav-subitem-link {
    display: flex;
    align-items: center;
    height: 1.5rem;
    color: #f3f3f3;
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
}

    .sidenav-nav-subitem-link:hover {
        text-decoration: none;
    }

    .sidenav-sublink-icon {
        font-size: 17px;
        width: 1.5rem;
        min-width: 1.5rem;
        text-align: center;
        color: #f3f3f3;
    }

.sidenav-sublink-text {
    color: #f3f3f3;
    font-size: 17px;
    font-weight: 100;
}

.dropdown-submenu {
    transition: all .3s linear;
    list-style-type: none;
    display: none;
}

.dropdown-submenu-hide {
    display: block;
    transition: all .3s linear;
}