﻿@using OnlineShoppingWebApplication.Service.Services.DTOs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ProductDto

<h2>Details</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Details Product</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Index", "Product")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <div class="p-3">
        <input hidden value="@Model.Id" />
      <div class="form-group">
        <label for="categoryid" class="font-weight-bold">Category</label>
        <input type="text" class="form-control" id="categoryid" asp-for="Category.Name" readonly>
      </div>
      <div class="form-group">
        <label for="name" class="font-weight-bold">Name</label>
        <input type="text" class="form-control" id="name" asp-for="Name" readonly>
      </div>
      <div class="form-group">
        <label for="price" class="font-weight-bold">Price</label>
        <input type="number" class="form-control" id="price" asp-for="Price" readonly>
    </div>
      <div class="form-group">
        <label for="description" class="font-weight-bold">Description</label>
        <textarea rows="3" class="form-control" id="description" asp-for="Description" readonly placeholder="Enter description"></textarea>
      </div>
    </div>
  </div>
</div>

