﻿@using OnlineShoppingWebApplication.Service.Services.User.DTOs
@model UserChangePasswordDto

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Change Password</h2>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>

<div class="card">
  <div class="card-header">
    <button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Index", "Home")'">
        <i class="fal fa-hand-o-left"></i> Back
    </button>
  </div>
  <div class="card-body">
    <form class="p-3" asp-controller="User" asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="oldpassword" class="font-weight-bold">Old Password</label>
        <input type="password" class="form-control" id="oldpassword" asp-for="OldPassword" placeholder="Enter Old Pasword">
        <span asp-validation-for="OldPassword" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="newpassword" class="font-weight-bold">New Password</label>
        <input type="password" class="form-control" id="newpassword" asp-for="NewPassword" placeholder="Enter New Pasword">
        <span asp-validation-for="NewPassword" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label for="confirmpassword" class="font-weight-bold">Confirm Password</label>
        <input type="password" class="form-control" id="confirmpassword" asp-for="ConfirmPassword" placeholder="Enter Confirm Pasword">
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
