﻿@using OnlineShoppingWebApplication.Service.Services.User.DTOs
@model UserLoginDto

@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<img src="~/img/single_user.png" class="mx-auto d-block">
<form class="mb-4" autocomplete="off" asp-action="SignIn" asp-controller="User" method="post">
    <div class="mb-2 form-group">
        <label for="UserName" class="form-label">UserName</label>
        <input type="text" class="form-control" id="UserName" name="UserName" asp-for="UserName">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-2 form-group">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3 form-row">
        <div class="d-grid gap-2 col-6 mx-auto form-group">
            <button class="btn btn-lg btn-block" type="submit">Login</button>
        </div>
    </div>
</form>



